.divpadding{
	padding: 10px;
}
.textcolor{
	color: #ffffff;
}
.divcolor{
	background-color: #33e860ed;
}
.textcolor1{
	color: #ffffff;
}
.linkcolor{
	color: #;
}
.divcolor1{
	background-color:#25242be3;
}
.divborder{
	border-style: solid;
	border-color:#33e860ed;
}
.buttonstyle{
	background-color: #000000;
	color: #ffffff;
	border-color: #000000
}
.textcolor2{
	color: #33e860ed;
}
